@model IEnumerable<Project.Models.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<section class="slider-area slider-area2 slider-height2 d-flex align-items-center  hero-overly">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-11 col-md-12">
                <div class="hero__caption hero__caption2 text-center">
                    <h2>Orders List</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "genric-btn primary circle" }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "genric-btn info circle" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "genric-btn danger circle" })
            </td>
        </tr>
}
    </tbody>
</table>
